<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="name" >
{{name}}
</div>

<div class="option1" >
{{abstract1}}
</div>

<div class="option4" >
{{abstract2}}
</div>


<div class="option3" >
{{abstract3}}
</div>

<form action = "http://localhost:5000/choose" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
</form>

</body>
</html>